.fifth-heghlight-wrapper .left-side-wrapper .left-side-container {
	background-image: url("../images/home/airpod.jpg");
	background-color: #000000;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;
	color: rgb(181, 181, 181);
}
.fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
	background-image: url("../images/home/ai.jpg");
	background-color: #fafafa;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: auto;
}
.fifth-heghlight-wrapper .description-wraper {
	max-width: 450px;
	margin: 7px auto;
}
.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
	color: #fff;
}
.watch-more-wrapper a:after {
	font-family: "FontAwesome";
	font-weight: 900;
	content: "\f144";
	padding-left: 15px;
}
.tvshow-logo-wraper {
	padding: 340px 0 0px;
}